
@{
    ViewBag.Title = "About";
}
<h1>A Little More About Me?</h1><br />
<h2>-Let's see...</h2>

<head>
    <style type="text/css">

      img{
          position:center;
          width:240px;
          height:350px;
      }

    </style>
</head>


<div class="container">
<div class="row">
    <div class="col-sm-10 col-md-6 col-lg-6 ">
        <h3>
            <b>A Biography On Bianca!</b>
        </h3>
        <br />
        <p>
            My name, in case the bold heading above was a little vague, is Bianca Kubayi. I am an 18 year old gift to the world,
            who is studying her second year of BCom informatics Information Systems in the University Of Pretoria.
            Therefore it goes without saying that I have mere dust particles of mental stability in me but I can not completely blame University for that,
            I didn't have much sanity before in all honesty.
            I'd say what I love the most about my degree is how broad it is, how I get to dip a toe into analytics, systems, design, programming so I have quite a heavily coated toe now.
            And it gets more and more interesting, the more I learn and the more I dip said toe of mine. I feel content and a slight tingle of happiness towards my degree so I pray all the time that my best is enough.
            <br />
            <br />
            I am from Pretoria originally, went to primary school and high school in the city of Pretoria. I have lived in Pretoria my whole life basically,
            so I understand why it may seem odd to others that I get lost on my way home sometimes. What can I say, I can't be beautiful, smart, funny and be good at directions.
            You simply can't have it all in this world.
            My favourite number is two (I think it's a thing to have a favourite number, isn't it?). My favourite colour is green,
            keep in mind that I use favouritism and obsessiveness synonymously so my entire wordrobe being green should be normal.
            <br />
            <br />
            I have 2 siblings, one older sister and one younger sister. I know what you're thinking, yes they do wish they were me but I remind them all the time they aren't all that bad
            and they can live happily knowing they are related to me. I have a hardworking mother who is a nurse, so going to the doctor is a myth to me. I'm still building up the courage to explain to her that Vicks can't be the cure to everything.
            I do hope to some day bloom into a little something that is big enough to make her proud.
            <br />
            <br />
            I could go on for centuries about myself but the small tale I've told will suffice for now.
        </p>
    </div>
    
   <div class="col-sm-10 col-md-6 col-lg-6">
       <h3><b>Bianca Kubayi</b></h3>
       <div >

           <img src="~/Content/pictures/picture.jpg" />

       </div>
   </div>
</div>
</div>